<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShofyDrop</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Product</a></li>
                <li><a href="#">About us</a></li>
            </ul>
        </nav>
        <div class="usersContact-button">
            <a href="#">Contact</a>
        </div>
    </header>
    <main>
        <h1>ShofyDrop</h1>
        <h2>Everything you need right to your door</h2>
        <p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
        <div class="order-button">
            <a href="#">Order now</a>
        </div>
    </main>
</body>
</html>